@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #2B134B;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

.main-login, .main-register {
    background: #201B2D;
    height: 100vh;
    width: 100vw;
}

.left-login, .left-register {
    height: 100vh;
    width: 50vw; 
}

.left-login > h1, .left-register > h1 {
    color: #77FFC0;
}

.right-login, .right-register {
    height: 100vh;
    width: 50vw;
}

.card-login, .card-register {
    width: 80%;
    padding: 20px 35px;
    background: #2F2847;
    box-shadow: 0 10px 40px #00000056;
}

.card-login > h1, .card-register > h1 {
    color: #00FF88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    margin: 10px 0;
}

.textfield > input {
    background: #514869;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login, .btn-register {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0 0 0;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 3px;
    color: #2B134B;
    background: #00FF88;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #00FF8052;
}

/* Navbar */
nav {
    background-color: #2B134B;
    transition: all 0.3s ease;
}

#navbar.scrolled {
    background-color: rgba(43, 19, 75, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.brand-style {
    font-size: 24px;
    color: #00FF88;
}

.btn-outline-custom {
    color: #00FF88;
    border: 1px solid #00FF88;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-custom:hover {
    background-color: #00FF88;
    color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #ffffff !important; 
    border-radius: 30px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff; 
}

/* Header Section */
.header-section {
    background: linear-gradient(135deg, rgba(40, 17, 69, 0.8), rgba(80, 29, 128, 0.8));
    color: white;
    padding: 100px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.header-content {
    z-index: 2;
    position: relative;
    max-width: 600px; 
}

.header-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Card Section */
.card {
    background-color: #EEE7F9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
    color: #2B134B;
}

.card-text {
    color: #6C757D;
}

.rating i {
    font-size: 1rem;
    color: #FFC107;
}

.btn-detail {
    background-color: #5CB85C;
    color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-detail:hover {
    background-color: #4CAE4C;
    color: #FFFFFF; 
}

.card-body {
    padding: 1.5rem;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
    height: 200px;    
}

/* Fasilitas Section */
.fasilitas-desc {
    color: #FFFFFF;
    font-size: 1rem;
}

.btn-cari {
    background: linear-gradient(135deg, #00FF88, #00CC66);
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

.btn-cari:hover {
    background: linear-gradient(135deg, #00CC66, #00FF88);
    transform: translateY(-3px);
}

.fasilitas-card {
    background-color: #EEE7F9;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fasilitas-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.fasilitas-icon {
    color: #00CC66;
}

.fasilitas-text {
    color: #2B134B;
    font-size: 0.9rem;
    font-weight: 500;
}

.card i {
    color: #4CAF50;
    font-size: 1.5rem;
}

.row-cols-lg-3 .col {
    margin-bottom: 20px;
}

/* About Section */
.about-section {
    background: linear-gradient(135deg, #281145, #3C1F65);
    border-radius: 30px;
    padding: 60px 20px;
    color: #FFFFFF;
    overflow: hidden;
    margin: 20px;
}

.about-img-wrapper {
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.about-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.about-img-wrapper img:hover {
    transform: scale(1.05);
}


/* Footer */
.footer {
    background: #2B134B;
}

@media only screen and (max-width: 950px) {
    .card-login, .card-register {
      width: 85%;
    }
}
  
@media only screen and (max-width: 600px) {
    .main-login, .main-register {
      flex-direction: column;
    }
    .left-login, .left-register {
      width: 100%;
      height: auto;
    }
    .left-login > h1, .left-register > h1 {
      display: none;
    }
    .right-login, .right-register {
      width: 100%;
      height: auto;
    }
    .card-login, .card-register {
      width: 90%;
    }
}

@media (max-width: 768px) {
    .header-section {
        padding: 50px 15px;
        margin: 0 10px;
    }
    
    .header-img {
        width: 40%
    }

    .header-content h1 {
        font-size: 2rem; 
    }

    .header-content p {
        font-size: 1rem; 
    }
}

@media (max-width: 576px) {
    .header-img {
        display: none; 
    }
    .about-img-wrapper {
        display: none;
    }
}